<!DOCTYPE html>
<html lang="en", dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/exam_portal_home">Exam Portal</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/java_exams">Java Exams</a></li>
                <li><a href="/python_exams">Python Exams</a></li>
                <li><a href="/aptitude_exams">Aptitude Exams</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
        {% block body_block %}
        <!-- Child  HTML will use the code from here -->
        {% endblock %}
  </body>
</html>