<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    
    <form method="post" action="{% url 'form_submit_url' %}">  <!-- will submit the form to specified URL -->
    <!-- <form method="post"> will submit the form to URL from where this form was originated  -->
        {% csrf_token %}
        {{ form.as_p }}        
        <button type="submit">Register</button>
    </form>
</body>
</html>